.Header {

}

.Content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LogoContainer {
  display: flex;
  align-items: center;
  * {
    text-decoration: none;
  }
}

.Logo {
  width: 30px;
  height: 30px;
  margin: 10px;
  object-fit: cover;
  object-position: center;
}

.NavLink {
  margin: 0 10px;
}
